<div class="card" (click)=ShowDetailsArtObject(modal)>
    <img src="{{ artObject.primaryImageSmall }}" class="card-img-top" alt="Image not available">
    <div class="card-body">
        <h5 class="card-title">{{ artObject.title }}</h5>
        <p class="card-text">{{ artObject.artistDisplayName }}.</p>
    </div>
</div>

<!-- Modal -->
<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ artObject.title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        bla
    </div>
    <div class="modal-footer">
        more bla
    </div>
</ng-template>