<div *ngIf="objects">
    Total number of objects: {{ objects.total }}
</div>


<div class="container">
    <div class="row">
        <aside class="col-sm-3">
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Departments </h6>
                    </header>
                    <div *ngIf="departments">
                        <div class="filter-content">
                            <div class="card-body">
                                <div *ngFor="let department of departments; let i = index">
                                    <div class="custom-control custom-checkbox" #departmentsRef>
                                        <input type="checkbox" class="custom-control-input" id="{{ i }}">
                                        <label [title]="department.departmentId" class="custom-control-label"
                                            for="{{ i }}"><small>{{ department.displayName }}</small></label>
                                    </div>
                                </div>
                                <button (click)="filterObjectsByDepartments()" type="submit"
                                    class="btn btn-outline-primary btn-sm">Filter by departments
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </aside>
        <div class="col">
            <div *ngIf="artObjects.length > 0" class="container">
                <app-display-objects [artObjects]="artObjects"></app-display-objects>
                <button (click)="getNextArtObjects()" type="submit" class="btn btn-outline-primary btn-sm">Show more
                    results
                </button>
            </div>
        </div>
    </div>
</div>